@import '../libs/mixins';
@import '../libs//settings';
/*
 * Header Styles
 */

.site-header {
  text-align: center;
  background: #e03c31;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 37%);
  width: 100%;
  position: fixed;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 100;

  .main-navigation {
    .homepage & {
      float: none;
      margin: 0 auto;

      @media screen and (max-width: 990px) {
        float: right;
      }
    }
    .menu {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: inline-block;

      @media screen and (max-width: 990px) {
        display: none;
      }
      @media screen and (min-width: 991px) {
        display: inline-block;
      }
    }

    .menu-item {
      display: inline-block;
      padding: 30px 0;
      margin: 0;
      a {
        display: inline-block;
        padding: 0 20px;
        line-height: 1;
        color: #ffffff;
        font-weight: 400;
        @include em(16);
        border-bottom: 2px solid transparent;
        transition: 0.3s ease;
        border-right: 1px solid #ffffff;
      }
      &:last-child a {
        border-right: none;
      }
      &.current-menu-item,
      &:hover {
        color: #111010;
        border-bottom: 2px solid #111010;

        a {
          color: #111010;
        }
      }

      &.active {
        color: #111010;
        border-bottom: 2px solid #111010;
        a {
          color: #111010;
        }
      }
    }
  }
}

#branding {
  padding: 20px 0;
  align-items: center;
  display: flex;

  .homepage & {
    display: none;

    @media screen and (max-width: 990px) {
      display: block;
    }
  }
  .logo {
    color: $accent-color;
    @include em(32);
    vertical-align: middle;
    margin-right: 10px;
  }
  .site-title {
    display: inline-block;
    @include em(16);
    vertical-align: middle;
    color: #ffffff;
    margin-left: 10px;
    a {
      color: #9d9879;
    }
  }
}

.menu-toggle {
  outline: none;
  border: none;
  background: transparent;
  background: #ffffff;
  color: black;
  display: inline-block;
  margin-top: 30px;
  @media screen and (max-width: 990px) {
    display: block;
  }
  @media screen and (min-width: 991px) {
    display: none;
  }
}
.mobile-navigation {
  clear: both;
  display: none;
  @media screen and (min-width: 991px) {
    display: none !important;
  }

  .menu {
    list-style: none;

    a {
      display: block;
      padding: 10px 0;
      color: #ffffff;
      &:hover {
        color: $accent-color;
      }
    }
    .current-menu-item a {
      color: $accent-color;
    }
  }

  @media screen and (max-width: 786px) {
    &.show-menu {
      display: block;

      .menu-item {
        &.active {
          background: aliceblue;
          a {
            color: #111010;
          }
        }
      }
    }
  }
}
